@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Bree Serif", serif;
}

.img-logo {
  height: 75px;
  width: 75px;
  padding: 5px;
}

.logo-container {
  width: 70%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fcd4d5;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-items {
  display: flex;
  width: 50%;
  margin-right: 20px;
}

ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  font-size: 22px;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #f46464;
}

.rest-card {
  max-width: 200px;
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
  border: 1px solid #fc6468;
  flex-grow: 1; /* Allow items to grow to fill the space equally */
  flex-basis: calc(33.33% - 10px); /* Set the initial size of each item */
  margin: 5px;
}
.shimmer-card {
  max-width: 200px;
  height: 275px;
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
  border: 1px solid #fc6468;
  flex-grow: 1; /* Allow items to grow to fill the space equally */
  flex-basis: calc(33.33% - 10px); /* Set the initial size of each item */
  margin: 5px;
  background-color: #fcd4d5;
}

.rest-name {
  color: #fc6468;
}

.rest-container {
  width: 100%;
  display: flex;
  justify-content: safe;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-container {
  width: 100%;
  display: flex;
  justify-content: safe;
  margin: 20px;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.search-bar {
  width: 100%;
}
.search-text-field {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  margin: 10px;
  color: #f46464;
  font-size: 20px;
  border: 2px solid #f46464;
  padding: 5px;
}

.search-button {
  width: 15%;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  color: #f46464;
  font-weight: bolder;
  border: 2px solid #f46464;
}

.login-button {
  font-size: 22px;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  color: #f46464;
  font-weight: bolder;
  border: 2px solid #f46464;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: end;
}
.filter-button {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  color: #f46464;
  font-weight: bolder;
  border: 2px solid #f46464;
}

input::placeholder {
  color: #f46464;
}

.search-button:hover,
.filter-button:hover,
.login-button:hover {
  background-color: #fcd4d5;
}

.rest-img {
  width: 100%;
  margin-top: 10px;
  height: 135px;
}

#icon-timer {
  padding-right: 5px;
  color: green;
  font-weight: bolder;
}

#icon-star {
  padding-right: 5px;
  color: #ffee00;
  font-weight: bolder;
}

h2.rest-name.heading {
  height: 100px;
  display: flex;
  align-items: end;
}

.about-us-container {
  margin: 20px;
  border-radius: 15px;
  border: 1px solid #fc6468;
  color: #f46464;
  padding: 20px;
}

.contact-container {
  margin: 20px;
  color: #fc6468;
}

.pageTitle {
  color: #f46464;
}

.contactForm {
  max-width: 600px;
  margin-top: 20px;
}

.formLabel {
  display: block;
  margin-bottom: 8px;
}

.formInput,
.formTextarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #fc6468;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton {
  background-color: #f46464;
  font-size: 20px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #fcd4d5;
  color: #f46464;
}

.contactInfo {
  margin-top: 20px;
}

table {
  margin: 50px;
}

tr {
  width: 100%;
}

td {
  width: 100%;
}
